
header, footer {
  position: sticky;
  z-index: 10;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.content {
  overflow-y: scroll;
}

.content-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fafaf8;
}
.content-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: #f8f9fa;
}

.wrapper-table-content {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper-table-results-content {
  max-height: 500px;
}

.table-header th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f8f9fa;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
}
