.container-fluid {
    margin-top: 16px;
}

.not-collapsed .bi-plus-circle {
    display: none;
}
.not-collapsed.collapsed .bi-plus-circle {
    display: inline;
}

.not-collapsed .bi-dash-circle {
    display: inline;
}
.not-collapsed.collapsed .bi-dash-circle {
    display: none;
}

td.fplan_content {
    margin: 8px;
}

td.fplan_content pre {
    max-width: 500px;
    overflow: hidden;
}
