header {
    background-color: orange;
}

.main {
    background-color: antiquewhite;
}

footer {
    background-color: goldenrod;
}

.page-row {
    padding: 16px;
}

.page-row h3 {
    margin-bottom: 0px;
}
