header {
    background-color: orange;
}

.main {
    background-color: antiquewhite;
}

footer {
    background-color: goldenrod;
}

h1 {
  font-size: 20px;
  margin: 0px;
}

.sticky-report thead th {
    position: sticky;
    top: 0;
}

.col-sortable {
    cursor: pointer;
}

.left-thick {
    border-left: 2px solid #b4b4b4;
}

tr.bottom-thick th {
    border-bottom: 2px solid #b4b4b4;
}

.progress-light {
  background-color: #cacaca;
}
