# Disable magic map between request paths and php files
Options -MultiViews

RewriteEngine On

RewriteRule db_lookups$ db_lookups.php [L,QSA]
RewriteRule query_routes_representative_trip$ query_routes_representative_trip.php [L,QSA]
RewriteRule query_day_trips$ query_day_trips.php [L,QSA]
RewriteRule query_day_from_to_trips$ query_day_from_to_trips.php [L,QSA]
RewriteRule lookup/([a-zA-Z0-9]+?)$ select_table.php?table_name=$1 [L]

RewriteRule trips/?$ trips.php [L,QSA]
RewriteRule ([0-9]{4}-[0-9]{2}-[0-9]{2})/trip/(.*)$ trip.php?gtfs_day=$1&trip_id=$2 [L,QSA]
RewriteRule ([0-9]{4}-[0-9]{2}-[0-9]{2})/trips/?$ trips.php?gtfs_day=$1 [L,QSA]
RewriteRule trip/(.*)$ trip.php?gtfs_day=LATEST&trip_id=$1 [L,QSA]
