html, body {
  height: 100%;
  margin: 0;
}

:root {
  --bs-body-font-size: 0.75rem;
  --bs-form-font-size: 0.75rem;
  --bs-input-padding-y: 0.25rem;
  --bs-input-padding-x: 0.5rem;
}

.form-control, .form-select {
  font-size: 0.75rem;
}
