.section-title {
  font-size: 20px;
}

.section-title .badge {
  font-size: 16px;
  padding: 0.4rem;
}

.service-calls {
  font-size: 12px;
}

.wrapper-table-results-content {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
